[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
nice            = 0

[mysqld]
user                    = mysql
pid-file                = /var/run/mysqld/mysqld.pid
socket                  = /var/run/mysqld/mysqld.sock
port                    = 3306
basedir                 = /usr
datadir                 = /var/lib/mysql
default_storage_engine  = InnoDB
tmpdir                  = /tmp
log-bin=mysql-bin
binlog_format=mixed

skip-name-resolve

lc-messages-dir         = /usr/share/mysql
skip-external-locking
key_buffer              = 16M
max_connections         = {{ salt['pillar.get']('percona:max_connections', 100) }}
max_allowed_packet      = 16M
thread_stack            = 192K
thread_cache_size       = 8

query_cache_limit       = 1M
query_cache_size        = 16M

log_error               = /var/log/mysql/error.log
slow_query_log          = /var/log/mysql/mysql-slow.log
long_query_time         = {{ salt['pillar.get']('percona:long_query_time', 2) }}
log-queries-not-using-indexes

innodb_autoinc_lock_mode        = 2
innodb_locks_unsafe_for_binlog  = 1
innodb_file_per_table
innodb_thread_concurrency       = 0
innodb_buffer_pool_size         = {{ (grains['mem_total'] | int * 0.6) | int }}K
innodb_log_buffer_size          = 64M
innodb_flush_method             = O_DIRECT
innodb_log_file_size            = 500M

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[mysql]
#no-auto-rehash # faster start of mysql but no tab completition

[isamchk]
key_buffer              = 16M

!includedir /etc/mysql/conf.d/
